rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // User document rules
    match /users/{userId} {
      allow read: if true;
      allow create, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;

      // Links sub-collection rules
      match /links/{linkId} {
        allow read: if true;
        allow create, delete: if request.auth != null && request.auth.uid == userId;
        allow update: if (request.auth != null && request.auth.uid == userId)
                      || (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['clicks']));
      }
    }
  }
}
